<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.breeze.dao.mapper.master.di.DiJobResourceFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="DiJobResourceFileMap" type="cn.sliew.breeze.dao.entity.master.di.DiJobResourceFile">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="editor" property="editor" />
        <result column="update_time" property="updateTime" />
        <result column="job_id" property="jobId" />
        <result column="resource_file_id" property="resourceFileId" />
    </resultMap>

    <select id="listJobResources" resultMap="cn.sliew.breeze.dao.mapper.master.di.DiResourceFileMapper.DiResourceFileMap">
        <![CDATA[
        select
            r.id,
            r.project_id,
            r.file_name,
            r.file_type,
            r.file_path,
            r.creator,
            r.create_time,
            r.editor,
            r.update_time
        from di_resource_file r
        join di_job_resource_file j
        on r.id = j.resource_file_id
        where j.job_id = #{jobId,jdbcType=BIGINT}
        ]]>
    </select>
</mapper>
