<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.ws.WsArtifactFlinkCDCMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="FlinkArtifactCDCMap" type="cn.sliew.scaleph.dao.entity.master.ws.WsArtifactFlinkCDC">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="artifact_id" property="artifactId"/>
        <result column="flink_version" property="flinkVersion"/>
        <result column="flink_cdc_version" property="flinkCDCVersion"/>
        <result column="parallelism" property="parallelism"/>
        <result column="local_time_zone" property="localTimeZone"/>
        <result column="from_ds_id" property="fromDsId"/>
        <result column="from_ds_config" property="fromDsConfig"/>
        <result column="to_ds_id" property="toDsId"/>
        <result column="to_ds_config" property="toDsConfig"/>
        <result column="transform" property="transform"/>
        <result column="route" property="route"/>
        <result column="current" property="current"/>
        <association column="artifact_id" property="artifact"
                     select="cn.sliew.scaleph.dao.mapper.master.ws.WsArtifactMapper.selectById"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, creator, create_time, editor, update_time,
        artifact_id, flink_version, flink_cdc_version,
        parallelism, local_time_zone, from_ds_id, from_ds_config,
        to_ds_id, to_ds_config, `transform`, route, `current`
    </sql>

    <select id="list" resultMap="FlinkArtifactCDCMap">
        select
        t1.*
        from
        ws_artifact_flink_cdc t1
        join ws_artifact t2 on t1.artifact_id = t2.id
        where
        t2.project_id = #{projectId}
        and t1.current = '1'
        <if test="name != null and name != ''">
            and t2.`name` like concat('%', #{name}, '%')
        </if>
        <if test="flinkVersion != null">
            AND t1.flink_version = #{flinkVersion}
        </if>
        order by t2.id desc
    </select>

    <select id="listAll" resultMap="FlinkArtifactCDCMap">
        select
        t1.*
        from
        ws_artifact_flink_cdc t1
        join ws_artifact t2 on t1.artifact_id = t2.id
        where
        t2.project_id = #{projectId}
        and t1.current = '1'
        <if test="name != null and name != ''">
            and t2.`name` like concat('%', #{name}, '%')
        </if>
        order by t2.id desc
    </select>

    <select id="selectOne" resultMap="FlinkArtifactCDCMap">
        select t1.*
        from ws_artifact_flink_cdc t1
                 join ws_artifact t2 on t1.artifact_id = t2.id
        where t1.id = #{id}
    </select>

    <select id="selectCurrent" resultMap="FlinkArtifactCDCMap">
        select t1.*
        from ws_artifact_flink_cdc t1
                 join ws_artifact t2 on t1.artifact_id = t2.id
        where t2.id = #{artifactId}
          and t1.current = '1'
    </select>
</mapper>
