<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.ws.WsDiJobMapper">

    <resultMap id="BaseResultMap" type="cn.sliew.scaleph.dao.entity.master.ws.WsDiJob">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="flink_artifact_id" property="flinkArtifactId"/>
        <result column="job_engine" property="jobEngine"/>
        <result column="job_id" property="jobId"/>
        <result column="current" property="current"/>
        <association column="flink_artifact_id" property="wsFlinkArtifact"
                     select="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkArtifactMapper.selectById"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, creator, create_time, editor, update_time,
        flink_artifact_id, job_engine, job_id, `current`
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        ws_di_job t1
        join ws_flink_artifact t2 on t1.flink_artifact_id = t2.id
        where
        t2.project_id = #{projectId}
        and t1.current = '1'
        <where>
            <if test="jobEngine != null">
                and t1.job_engine = #{jobEngine}
            </if>
            <if test="name != null and name != ''">
                and t2.`name` like concat('%', #{name}, '%')
            </if>
        </where>
        order by t2.id desc
    </select>

    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        ws_di_job t1
        join ws_flink_artifact t2 on t1.flink_artifact_id = t2.id
        where
        t2.project_id = #{projectId}
        and t1.current = '1'
        <if test="name != null and name != ''">
            and t2.`name` like concat('%', #{name}, '%')
        </if>
        order by t2.id desc
    </select>

    <select id="selectOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        ws_di_job t1
        join ws_flink_artifact t2 on t1.flink_artifact_id = t2.id
        where t1.id = #{id}
    </select>

    <select id="selectCurrent" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        ws_di_job t1
        join ws_flink_artifact t2 on t1.flink_artifact_id = t2.id
        where t2.id = #{artifactId}
        and t1.current = '1'
    </select>
</mapper>
