<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkKubernetesJobInstanceMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sliew.scaleph.dao.entity.master.ws.WsFlinkKubernetesJobInstance">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="ws_flink_kubernetes_job_id" property="wsFlinkKubernetesJobId"/>
        <result column="instance_id" property="instanceId"/>
        <result column="parallelism" property="parallelism"/>
        <result column="upgrade_mode" property="upgradeMode"/>
        <result column="allow_non_restored_state" property="allowNonRestoredState"/>
        <result column="job_manager" property="jobManager"/>
        <result column="task_manager" property="taskManager"/>
        <result column="user_flink_configuration" property="userFlinkConfiguration"/>
        <result column="merged_flink_configuration" property="mergedFlinkConfiguration"/>
        <result column="state" property="state"/>
        <result column="job_state" property="jobState"/>
        <result column="error" property="error"/>
        <result column="cluster_info" property="clusterInfo"/>
        <result column="task_manager_info" property="taskManagerInfo"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="duration" property="duration"/>
    </resultMap>

    <resultMap id="WsFlinkKubernetesJobInstanceMap"
               type="cn.sliew.scaleph.dao.entity.master.ws.WsFlinkKubernetesJobInstance">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="ws_flink_kubernetes_job_id" property="wsFlinkKubernetesJobId"/>
        <result column="instance_id" property="instanceId"/>
        <result column="parallelism" property="parallelism"/>
        <result column="upgrade_mode" property="upgradeMode"/>
        <result column="allow_non_restored_state" property="allowNonRestoredState"/>
        <result column="job_manager" property="jobManager"/>
        <result column="task_manager" property="taskManager"/>
        <result column="user_flink_configuration" property="userFlinkConfiguration"/>
        <result column="merged_flink_configuration" property="mergedFlinkConfiguration"/>
        <result column="state" property="state"/>
        <result column="job_state" property="jobState"/>
        <result column="error" property="error"/>
        <result column="cluster_info" property="clusterInfo"/>
        <result column="task_manager_info" property="taskManagerInfo"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="duration" property="duration"/>
        <association column="ws_flink_kubernetes_job_id" property="wsFlinkKubernetesJob"
                     select="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkKubernetesJobMapper.selectOne"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, creator, create_time, editor, update_time,
        ws_flink_kubernetes_job_id, instance_id,
        parallelism, upgrade_mode, allow_non_restored_state,
        job_manager, task_manager, user_flink_configuration, merged_flink_configuration,
        `state`, job_state, `error`, cluster_info, task_manager_info,
        start_time, end_time, duration
    </sql>

    <select id="selectOne" resultMap="WsFlinkKubernetesJobInstanceMap">
        select
        <include refid="Base_Column_List"/>
        from ws_flink_kubernetes_job_instance
        where id = #{id}
    </select>

    <select id="selectCurrent" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ws_flink_kubernetes_job_instance
        where ws_flink_kubernetes_job_id = #{wsFlinkKubernetesJobId}
        order by id desc
        limit 1
    </select>
</mapper>
