<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkArtifactSqlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sliew.scaleph.dao.entity.master.ws.WsFlinkArtifactSql">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="editor" property="editor" />
        <result column="update_time" property="updateTime" />
        <result column="flink_artifact_id" property="flinkArtifactId" />
        <result column="flink_version" property="flinkVersion" />
        <result column="file_name" property="fileName" />
        <result column="path" property="path" />
        <result column="version" property="version" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, creator, create_time, editor, update_time,
        flink_artifact_id, flink_version, file_name, `path`, version, remark
    </sql>

</mapper>
