<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkKubernetesJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sliew.scaleph.dao.entity.master.ws.WsFlinkKubernetesJob">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="editor" property="editor" />
        <result column="update_time" property="updateTime" />
        <result column="flink_deployment_mode" property="flinkDeploymentMode" />
        <result column="flink_deployment_id" property="flinkDeploymentId" />
        <result column="execution_mode" property="executionMode" />
        <result column="name" property="name" />
        <result column="job_id" property="jobId" />
        <result column="artifact_id" property="artifactId" />
        <result column="remark" property="remark" />
        <association property="artifact" column="artifact_id"
                     select="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkArtifactMapper.selectById"
                     resultMap="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkArtifactMapper.FlinkArtifactMap"/>
        <discriminator javaType="cn.sliew.scaleph.common.dict.flink.FlinkDeploymentMode" column="flink_deployment_mode">
            <case value="0">
                <association property="flinkDeployment" column="flink_deployment_id"
                             select="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkKubernetesDeploymentMapper.selectById"
                             resultMap="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkKubernetesDeploymentMapper.BaseResultMap"/>
            </case>
            <case value="2">
                <association property="flinkDeployment" column="flink_deployment_id"
                             select="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkKubernetesSessionClusterMapper.selectById"
                             resultMap="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkKubernetesSessionClusterMapper.BaseResultMap"/>
            </case>
        </discriminator>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, creator, create_time, editor, update_time,
        flink_deployment_mode, flink_deployment_id, execution_mode,
        `name`, job_id, artifact_id, remark
    </sql>

    <select id="list" resultMap="BaseResultMap">
        SELECT t1.*
        FROM ws_flink_kubernetes_job t1
                 LEFT JOIN ws_flink_artifact t2 ON t1.artifact_id = t2.id
        WHERE
        <if test="executionMode != null">
            AND t1.execution_mode = #{executionMode}
        </if>
        <if test="flinkJobType != null">
            AND t2.type = #{flinkJobType}
        </if>
        <if test="flinkDeploymentMode != null">
            AND t1.flink_deployment_mode = #{flinkDeploymentMode}
        </if>
        <if test="name != null and name != ''">
            AND t1.name like concat('%', #{name}, '%')
        </if>
    </select>

</mapper>
