<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkKubernetesJobMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sliew.scaleph.dao.entity.master.ws.WsFlinkKubernetesJob">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="project_id" property="projectId"/>
        <result column="name" property="name"/>
        <result column="job_id" property="jobId"/>
        <result column="execution_mode" property="executionMode"/>
        <result column="flink_deployment_mode" property="flinkDeploymentMode"/>
        <result column="flink_deployment_id" property="flinkDeploymentId"/>
        <result column="flink_session_cluster_id" property="flinkSessionClusterId"/>
        <result column="type" property="type"/>
        <result column="flink_artifact_jar_id" property="flinkArtifactJarId"/>
        <result column="flink_artifact_sql_id" property="flinkArtifactSqlId"/>
        <result column="ws_di_job_id" property="wsDiJobId"/>
        <result column="remark" property="remark"/>
        <association column="flink_deployment_id" property="flinkDeployment"
                     select="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkKubernetesDeploymentMapper.selectById"/>
        <association column="flink_session_cluster_id" property="flinkSessionCluster"
                     select="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkKubernetesSessionClusterMapper.selectById"/>
        <association column="flink_artifact_jar_id" property="flinkArtifactJar"
                     select="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkArtifactJarMapper.selectOne"/>
        <association column="flink_artifact_sql_id" property="flinkArtifactSql"
                     select="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkArtifactSqlMapper.selectOne"/>
        <association column="ws_di_job_id" property="wsDiJob"
                     select="cn.sliew.scaleph.dao.mapper.master.ws.WsDiJobMapper.selectOne"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, creator, create_time, editor, update_time,
        project_id, `name`, job_id, execution_mode,
        flink_deployment_mode, flink_deployment_id, flink_session_cluster_id,
        `type`, flink_artifact_jar_id, flink_artifact_sql_id, ws_di_job_id, remark
    </sql>

    <select id="list" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ws_flink_kubernetes_job
        <where>
            project_id = #{projectId}
            <if test="executionMode != null">
                AND execution_mode = #{executionMode}
            </if>
            <if test="flinkJobType != null">
                AND type = #{flinkJobType}
            </if>
            <if test="flinkDeploymentMode != null">
                AND flink_deployment_mode = #{flinkDeploymentMode}
            </if>
            <if test="name != null and name != ''">
                AND name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>

    <select id="selectOne" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ws_flink_kubernetes_job
        WHERE
        id = #{id}
    </select>
</mapper>
