<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.ws.WsFlinkJobMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sliew.scaleph.dao.entity.master.ws.WsFlinkJob">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="type" property="type"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="flink_artifact_id" property="flinkArtifactId"/>
        <result column="project_id" property="projectId"/>
        <result column="job_config" property="jobConfig"/>
        <result column="flink_cluster_config_id" property="flinkClusterConfigId"/>
        <result column="flink_cluster_instance_id" property="flinkClusterInstanceId"/>
        <result column="flink_config" property="flinkConfig"/>
        <result column="jars" property="jars"/>
        <association property="wsFlinkJobInstance"
                     javaType="cn.sliew.scaleph.dao.entity.master.ws.WsFlinkJobInstance">
            <result column="job_instance_id" property="id"/>
            <result column="code" property="flinkJobCode"/>
            <result column="job_instance_job_id" property="jobId"/>
            <result column="job_instance_job_name" property="jobName"/>
            <result column="job_instance_job_state" property="jobState"/>
            <result column="job_instance_cluster_id" property="clusterId"/>
            <result column="job_instance_web_interface_url" property="webInterfaceUrl"/>
            <result column="job_instance_cluster_status" property="clusterStatus"/>
            <result column="job_instance_start_time" property="startTime"/>
            <result column="job_instance_end_time" property="endTime"/>
            <result column="job_instance_duration" property="duration"/>
        </association>
        <association property="wsFlinkClusterConfig"
                     javaType="cn.sliew.scaleph.dao.entity.master.ws.WsFlinkClusterConfig">
            <result column="config_id" property="id"/>
            <result column="config_name" property="name"/>
            <result column="project_id" property="projectId"/>
            <result column="config_flink_version" property="flinkVersion"/>
            <result column="config_resource_provider" property="resourceProvider"/>
            <result column="config_deploy_mode" property="deployMode"/>
            <result column="config_flink_release_id" property="flinkReleaseId"/>
            <result column="config_cluster_credential_id" property="clusterCredentialId"/>
            <result column="config_kubernetes_options" property="kubernetesOptions"/>
            <result column="config_config_options" property="configOptions"/>
            <result column="config_remark" property="remark"/>
        </association>
        <association property="wsFlinkClusterInstance"
                     javaType="cn.sliew.scaleph.dao.entity.master.ws.WsFlinkClusterInstance">
            <result column="instance_id" property="id"/>
            <result column="project_id" property="projectId"/>
            <result column="instance_flink_cluster_config_id" property="flinkClusterConfigId"/>
            <result column="instance_name" property="name"/>
            <result column="instance_cluster_id" property="clusterId"/>
            <result column="instance_web_interface_url" property="webInterfaceUrl"/>
            <result column="instance_status" property="status"/>
        </association>
    </resultMap>

    <select id="selectOne" resultMap="BaseResultMap">
        <![CDATA[
        select t.id,
               t.project_id,
               t.type,
               t.code,
               t.name,
               t.flink_artifact_id,
               t.job_config,
               t.flink_cluster_config_id,
               t.flink_cluster_instance_id,
               t.flink_config,
               t.jars,
               t.creator,
               t.create_time,
               t.editor,
               t.update_time,
               fi.id                      as job_instance_id,
               fi.job_id                  as job_instance_job_id,
               fi.job_name                as job_instance_job_name,
               fi.job_state               as job_instance_job_state,
               fi.cluster_id              as job_instance_cluster_id,
               fi.cluster_status          as job_instance_cluster_status,
               fi.web_interface_url       as job_instance_web_interface_url,
               fi.start_time              as job_instance_start_time,
               fi.end_time                as job_instance_end_time,
               fi.duration                as job_instance_duration,
               c.id                       as config_id,
               c.name                     as config_name,
               c.flink_version            as config_flink_version,
               c.resource_provider        as config_resource_provider,
               c.deploy_mode              as config_deploy_mode,
               c.flink_release_id         as config_flink_release_id,
               c.cluster_credential_id    as config_cluster_credential_id,
               c.kubernetes_options       as config_kubernetes_options,
               c.config_options           as config_config_options,
               c.remark                   as config_remark,
               ci.id                      as instance_id,
               ci.flink_cluster_config_id as instance_flink_cluster_config_id,
               ci.name                    as instance_name,
               ci.cluster_id              as instance_cluster_id,
               ci.web_interface_url       as instance_web_interface_url,
               ci.status                  as instance_status
        from ws_flink_job t
        left join ws_flink_job_instance fi
        on t.code = fi.flink_job_code
        left join ws_flink_cluster_config c
        on t.flink_cluster_config_id = c.id
        and t.project_id = c.project_id
        left join ws_flink_cluster_instance ci
        on t.project_id = ci.project_id
        and t.flink_cluster_instance_id = ci.id
        ]]>
        where t.id = #{id}
    </select>

    <select id="list" resultMap="BaseResultMap">
        <![CDATA[
        select t.id,
               t.project_id,
               t.type,
               t.code,
               t.name,
               t.flink_artifact_id,
               t.job_config,
               t.flink_cluster_config_id,
               t.flink_cluster_instance_id,
               t.flink_config,
               t.jars,
               t.creator,
               t.create_time,
               t.editor,
               t.update_time,
               fi.id                      as job_instance_id,
               fi.job_id                  as job_instance_job_id,
               fi.job_name                as job_instance_job_name,
               fi.job_state               as job_instance_job_state,
               fi.cluster_id              as job_instance_cluster_id,
               fi.cluster_status          as job_instance_cluster_status,
               fi.web_interface_url       as job_instance_web_interface_url,
               fi.start_time              as job_instance_start_time,
               fi.end_time                as job_instance_end_time,
               fi.duration                as job_instance_duration,
               c.id                       as config_id,
               c.name                     as config_name,
               c.flink_version            as config_flink_version,
               c.resource_provider        as config_resource_provider,
               c.deploy_mode              as config_deploy_mode,
               c.flink_release_id         as config_flink_release_id,
               c.cluster_credential_id    as config_cluster_credential_id,
               c.kubernetes_options       as config_kubernetes_options,
               c.config_options           as config_config_options,
               c.remark                   as config_remark,
               ci.id                      as instance_id,
               ci.flink_cluster_config_id as instance_flink_cluster_config_id,
               ci.name                    as instance_name,
               ci.cluster_id              as instance_cluster_id,
               ci.web_interface_url       as instance_web_interface_url,
               ci.status                  as instance_status
        from ws_flink_job t
        left join ws_flink_job_instance fi
        on t.code = fi.flink_job_code
        left join ws_flink_cluster_config c
        on t.flink_cluster_config_id = c.id
        and t.project_id = c.project_id
        left join ws_flink_cluster_instance ci
        on t.project_id = ci.project_id
        and t.flink_cluster_instance_id = ci.id
    ]]>
        <where>
            <if test="param.projectId != null">
                and t.project_id = #{param.projectId}
            </if>
            <if test="param.type != null">
                and t.`type` = #{param.type}
            </if>
            <if test="param.code !=null and param.code != ''">
                and t.`code` = #{param.code}
            </if>
            <if test="param.name != null and param.name != ''">
                AND t.`name` like CONCAT('%', #{param.name}, '%')
            </if>
            <if test="param.wsFlinkJobInstance != null and param.wsFlinkJobInstance.jobState !=null ">
                and fi.job_state = #{param.wsFlinkJobInstance.jobState}
            </if>
        </where>
    </select>


</mapper>
