<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.flink.FlinkArtifactJarMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sliew.scaleph.dao.entity.master.flink.FlinkArtifactJar">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="flink_artifact_id" property="flinkArtifactId"/>
        <result column="version" property="version"/>
        <result column="flink_version" property="flinkVersion"/>
        <result column="entry_class" property="entryClass"/>
        <result column="file_name" property="fileName"/>
        <result column="path" property="path"/>
    </resultMap>

    <resultMap id="FlinkArtifactJarVOMap" type="cn.sliew.scaleph.dao.entity.master.flink.FlinkArtifactJarVO">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="flink_version" property="flinkVersion"/>
        <result column="entry_class" property="entryClass"/>
        <result column="file_name" property="fileName"/>
        <result column="path" property="path"/>
        <association property="flinkArtifact"
                     javaType="cn.sliew.scaleph.dao.entity.master.flink.FlinkArtifact">
            <result column="artifact_id" property="id"/>
            <result column="artifact_name" property="name"/>
            <result column="artifact_type" property="type"/>
            <result column="artifact_remark" property="remark"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
                ,
        creator,
        create_time,
        editor,
        update_time,
        flink_artifact_id,
        version,
        flink_version,
        entry_class,
        file_name,
        `path`
    </sql>

    <select id="findMaxVersion" resultType="string">
        select version
        from flink_artifact_jar
        where flink_artifact_id = #{flinkArtifactId}
        order by CONCAT(
                         LPAD(SUBSTRING_INDEX(SUBSTRING_INDEX(version, '.', 1), '.', -
                                 1), 10, '0'),
                         LPAD(SUBSTRING_INDEX(SUBSTRING_INDEX(version, '.', 2), '.', -
                                 1), 10, '0'),
                         LPAD(SUBSTRING_INDEX(SUBSTRING_INDEX(version, '.', 3), '.', -
                                 1), 10, '0')
                         ) DESC, id DESC
        limit 1
    </select>

    <select id="list" resultMap="FlinkArtifactJarVOMap">
        SELECT t1.*,
               t2.id     AS artifact_id,
               t2.`name` AS artifact_name,
               t2.type   AS artifact_type,
               t2.remark AS artifact_remark
        FROM flink_artifact_jar t1
                     JOIN flink_artifact t2 ON t1.flink_artifact_id = t2.id
        WHERE t1.flink_artifact_id = #{param.flinkArtifactId}
            <if test="param.flinkVersion != null">
                AND t1.flink_version = #{param.flinkVersion}
            </if>
        ORDER BY CONCAT(
                         LPAD(SUBSTRING_INDEX(SUBSTRING_INDEX(t1.version, '.', 1), '.', -
                                 1), 10, '0'),
                         LPAD(SUBSTRING_INDEX(SUBSTRING_INDEX(t1.version, '.', 2), '.', -
                                 1), 10, '0'),
                         LPAD(SUBSTRING_INDEX(SUBSTRING_INDEX(t1.version, '.', 3), '.', -
                                 1), 10, '0')
                         ) DESC, t1.id DESC
    </select>

    <select id="getById" resultMap="FlinkArtifactJarVOMap">
        SELECT t1.*,
               t2.id     AS artifact_id,
               t2.`name` AS artifact_name,
               t2.type   AS artifact_type,
               t2.remark AS artifact_remark
        FROM flink_artifact_jar t1
                     JOIN flink_artifact t2 ON t1.flink_artifact_id = t2.id
        WHERE t1.id = #{id}
    </select>
</mapper>
