<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.flink.FlinkArtifactJarMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="FlinkArtifactJarMap" type="cn.sliew.scaleph.dao.entity.master.flink.FlinkArtifactJar">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="flink_version" property="flinkVersion"/>
        <result column="entry_class" property="entryClass"/>
        <result column="file_name" property="fileName"/>
        <result column="path" property="path"/>
        <result column="jar_params" property="jarParams"/>
        <result column="flink_artifact_id" property="flinkArtifactId"/>
        <association property="flinkArtifact"
                     javaType="cn.sliew.scaleph.dao.entity.master.flink.FlinkArtifact">
            <result column="flink_artifact_id" property="id"/>
            <result column="project_id" property="projectId"/>
            <result column="flink_artifact_name" property="name"/>
            <result column="flink_artifact_remark" property="remark"/>
        </association>
    </resultMap>


    <select id="list" resultMap="FlinkArtifactJarMap">
        <![CDATA[
        select
            t1.*,
            t2.id as flink_artifact_id,
            t2.project_id as project_id,
            t2.`name` as flink_artifact_name,
            t2.remark as flink_artifact_remark
        from flink_artifact_jar t1
        join flink_artifact t2
        on t1.flink_artifact_id = t2.id
        where t1.flink_artifact_id = #{param.flinkArtifactId}
        ]]>
        <if test="param.flinkVersion != null">
            AND t1.flink_version = #{param.flinkVersion}
        </if>
        order by t1.create_time desc
    </select>


    <select id="selectOne" resultMap="FlinkArtifactJarMap">
        select t1.*,
               t2.id         as flink_artifact_id,
               t2.project_id as project_id,
               t2.`name`     as flink_artifact_name,
               t2.remark     as flink_artifact_remark
        from flink_artifact_jar t1
                 join flink_artifact t2 on t1.flink_artifact_id = t2.id
        where t1.id = #{id}
    </select>

    <select id="isUsed" resultMap="FlinkArtifactJarMap">
        select
            t1.*
        from flink_artifact_jar t1
        join flink_job t2
        on  t1.id  = t2.flink_artifact_id
        where t2.type = '0'
        and t1.id = #{id}
        limit 1
    </select>
</mapper>
