@import "~ng-devui/styles-var/devui-var.scss";

.da-layout {
  min-height: 100%;
}

/* TODO: 阴影色确定 */
.da-layout-wrapper {
  min-height: 100%;

  &>d-layout {
    width: 0;
  }

  .da-layout-aside-wrapper {
    display: flex;
    box-shadow: $devui-shadow-length-connected-overlay $devui-light-shadow;
    z-index: 100;

    &.da-sidebar-top {
      z-index: 101;
    }

    &.da-layout-aside-fixed {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      overflow-x: hidden;


    }

    .da-layout-sidebar {
      background-color: $devui-base-bg;
      border-right: 1px solid $devui-dividing-line;
    }

    &.da-no-sec-sidebar .da-layout-sidebar {
      border-right: none;
    }

    .da-layout-sec-sidebar {
      background-color: $devui-base-bg;
    }
  }

  .da-layout-header-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: $devui-shadow-length-connected-overlay $devui-light-shadow;
    z-index: 100;

    &.da-layout-header-fixed {
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
    }


    .da-layout-header {
      background-color: $devui-base-bg;
      border-bottom: 1px solid $devui-dividing-line;
    }

    &.da-no-sec-header .da-layout-header {
      border-bottom: none;
    }

    .da-layout-sec-header {
      background-color: $devui-base-bg;
    }
  }

  .da-layout-content-wrapper {
    background-color: $devui-global-bg;
  }

  .da-layout-footer-wrapper {
    padding-top: 40px;
    padding-bottom: 8px;
    background-color: $devui-global-bg;
  }
}
