<div class="da-list-wrap">
  <div class="da-content-wrapper">
    <d-row [dGutter]="[12, 12]">
      <d-col [dSpan]="24">
        <div class="da-list-container">
          <div class="list-content">
            <b>Configuration</b>
          </div>
        </div>
      </d-col>
    </d-row>

    <d-row [dGutter]="[12, 12]">
      <d-col [dSpan]="24">
        <div class="da-list-container">
          <div class="list-content">
            <d-panel [type]="'primary'" #basicPanel [isCollapsed]="isBasicCollapsed" [showAnimation]="true">
              <d-panel-header>
                <em class="icon icon-select-arrow" [ngClass]="{ open: basicPanel.isCollapsed }"></em>
                Basic
              </d-panel-header>
              <d-panel-body>
                <d-row [dGutter]="20">
                  <d-col [dSpan]="12">
                    <form dForm ngForm [layout]="layoutDirection">
                      <div class="modal-body" style="padding: 0px 0px 0px 0px">
                        <d-form-item>
                          <d-form-label [required]="true" style="flex: 0 0 180px;">name:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="name" />
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label [required]="true" style="flex: 0 0 180px;">资源:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="resource" />
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label [required]="true" style="flex: 0 0 180px;">备注:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="remark" />
                          </d-form-control>
                        </d-form-item>
                      </div>
                    </form>
                  </d-col>
                  <d-col [dSpan]="12">
                    <form dForm ngForm [layout]="layoutDirection">
                      <div class="modal-body" style="padding: 0px 0px 0px 0px">
                        <d-form-item>
                          <d-form-label [required]="true" style="flex: 0 0 180px;">Flink 版本:</d-form-label>
                          <d-form-control>
                            <d-select name="version"
                                      [allowClear]="true"
                                      [filterKey]="'label'"
                                      [extraConfig]="{ selectedItemWithTemplate: { enable: true } }"
                                      [options]="flinkStateBackendList"
                                      size="sm"></d-select>
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label [required]="true" style="flex: 0 0 180px;">模式:</d-form-label>
                          <d-form-control>
                            <d-select name="version"
                                      [allowClear]="true"
                                      [filterKey]="'label'"
                                      [extraConfig]="{ selectedItemWithTemplate: { enable: true } }"
                                      [options]="flinkStateBackendList"
                                      size="sm"></d-select>
                          </d-form-control>
                        </d-form-item>
                      </div>
                    </form>
                  </d-col>
                </d-row>
              </d-panel-body>
            </d-panel>
          </div>
        </div>
      </d-col>
    </d-row>

    <d-row [dGutter]="[12, 12]">
      <d-col [dSpan]="24">
        <div class="da-list-container">
          <div class="list-content">
            <d-panel [type]="'primary'" #statePanel [isCollapsed]="isStateCollapsed" [showAnimation]="true">
              <d-panel-header>
                <em class="icon icon-select-arrow" [ngClass]="{ open: statePanel.isCollapsed }"></em>
                State & Checkpoints & Savepoints
              </d-panel-header>
              <d-panel-body>
                <d-row [dGutter]="20">
                  <d-col [dSpan]="12">
                    <form dForm ngForm [layout]="layoutDirection">
                      <div class="modal-body" style="padding: 0px 0px 0px 0px">
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">state.backend:</d-form-label>
                          <d-form-control>
                            <d-select name="state.backend"
                                      [allowClear]="true"
                                      [filterKey]="'label'"
                                      [extraConfig]="{ selectedItemWithTemplate: { enable: true } }"
                                      [options]="flinkStateBackendList"
                                      size="sm"></d-select>
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">state checkpoints dir</d-form-label>
                          <d-form-control>
                            <input dTextInput name="state.checkpoints.dir" />
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">execution.checkpointing.mode</d-form-label>
                          <d-form-control>
                            <d-select name="state.backend"
                                      [allowClear]="true"
                                      [filterKey]="'label'"
                                      [extraConfig]="{ selectedItemWithTemplate: { enable: true } }"
                                      [options]="flinkStateBackendList"
                                      size="sm"></d-select>
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">execution.checkpointing.unaligned</d-form-label>
                          <d-form-control>
                            <d-toggle [checked]="true" [size]="'sm'"></d-toggle>
                          </d-form-control>
                        </d-form-item>
                      </div>
                    </form>
                  </d-col>
                  <d-col [dSpan]="12">
                    <form dForm ngForm [layout]="layoutDirection">
                      <div class="modal-body" style="padding: 0px 0px 0px 0px">
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">state savepoints dir:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="state.savepoints.dir" />
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">execution checkpointing interval:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="execution.checkpointing.interval" />
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">execution.checkpointing.externalized-checkpoint-retention</d-form-label>
                          <d-form-control>
                            <d-select name="state.backend"
                                      [allowClear]="true"
                                      [filterKey]="'label'"
                                      [extraConfig]="{ selectedItemWithTemplate: { enable: true } }"
                                      [options]="flinkStateBackendList"
                                      size="sm"></d-select>
                          </d-form-control>
                        </d-form-item>
                      </div>
                    </form>
                  </d-col>
                </d-row>

              </d-panel-body>
            </d-panel>
          </div>
        </div>
      </d-col>
    </d-row>
    <d-row [dGutter]="[12, 12]">
      <d-col [dSpan]="24">
        <div class="da-list-container">
          <div class="list-content">
            <d-panel [type]="'primary'" #faultPanel [isCollapsed]="isFaultCollapsed" [showAnimation]="true">
              <d-panel-header>
                <em class="icon icon-select-arrow" [ngClass]="{ open: faultPanel.isCollapsed }"></em>
                Fault Tolerance
              </d-panel-header>
              <d-panel-body>
                <d-row [dGutter]="20">
                  <d-col [dSpan]="12">
                    <form dForm ngForm [layout]="layoutDirection">
                      <div class="modal-body" style="padding: 0px 0px 0px 0px">
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">restart-strategy:</d-form-label>
                          <d-form-control>
                            <d-select name="state.backend"
                                      [allowClear]="true"
                                      [filterKey]="'label'"
                                      [extraConfig]="{ selectedItemWithTemplate: { enable: true } }"
                                      [options]="flinkStateBackendList"
                                      size="sm"></d-select>
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">restart-strategy.fixed-delay.delay:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="restart-strategy.fixed-delay.delay" />
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">restart-strategy.failure-rate.failure-rate-interval:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="restart-strategy.failure-rate.failure-rate-interval" />
                          </d-form-control>
                        </d-form-item>
                      </div>
                    </form>
                  </d-col>
                  <d-col [dSpan]="12">
                    <form dForm ngForm [layout]="layoutDirection">
                      <div class="modal-body" style="padding: 0px 0px 0px 0px">
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">restart-strategy.fixed-delay.attempts:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="restart-strategy.fixed-delay.attempts" />
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">restart-strategy.failure-rate.delay:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="restart-strategy.failure-rate.delay" />
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">restart-strategy.failure-rate.max-failures-per-interval:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="restart-strategy.failure-rate.max-failures-per-interval" />
                          </d-form-control>
                        </d-form-item>
                      </div>
                    </form>
                  </d-col>
                </d-row>
              </d-panel-body>
            </d-panel>
          </div>
        </div>
      </d-col>
    </d-row>

    <d-row [dGutter]="[12, 12]">
      <d-col [dSpan]="24">
        <div class="da-list-container">
          <div class="list-content">
            <d-panel [type]="'primary'" #haPanel [isCollapsed]="isHACollapsed" [showAnimation]="true">
              <d-panel-header>
                <em class="icon icon-select-arrow" [ngClass]="{ open: haPanel.isCollapsed }"></em>
                High Availability
              </d-panel-header>
              <d-panel-body>
                <d-row [dGutter]="20">
                  <d-col [dSpan]="12">
                    <form dForm ngForm [layout]="layoutDirection">
                      <div class="modal-body" style="padding: 0px 0px 0px 0px">
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">high-availability:</d-form-label>
                          <d-form-control>
                            <d-select name="high-availability"
                                      [allowClear]="true"
                                      [filterKey]="'label'"
                                      [extraConfig]="{ selectedItemWithTemplate: { enable: true } }"
                                      [options]="flinkStateBackendList"
                                      size="sm"></d-select>
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">high-availability.storageDir:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="high-availability.storageDir" />
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">high-availability.zookeeper.path.root:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="high-availability.zookeeper.path.root" />
                          </d-form-control>
                        </d-form-item>
                      </div>
                    </form>
                  </d-col>
                  <d-col [dSpan]="12">
                    <form dForm ngForm [layout]="layoutDirection">
                      <div class="modal-body" style="padding: 0px 0px 0px 0px">
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">high-availability.cluster-id:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="high-availability.cluster-id" />
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">high-availability.zookeeper.quorum:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="high-availability.zookeeper.quorum" />
                          </d-form-control>
                        </d-form-item>
                      </div>
                    </form>
                  </d-col>
                </d-row>
              </d-panel-body>
            </d-panel>
          </div>
        </div>
      </d-col>
    </d-row>


    <d-row [dGutter]="[12, 12]">
      <d-col [dSpan]="24">
        <div class="da-list-container">
          <div class="list-content">
            <d-panel [type]="'primary'" #memPanel [isCollapsed]="isMemCollapsed" [showAnimation]="true">
              <d-panel-header>
                <em class="icon icon-select-arrow" [ngClass]="{ open: memPanel.isCollapsed }"></em>
                Memory Configuration
              </d-panel-header>
              <d-panel-body>
                <d-row [dGutter]="20">
                  <d-col [dSpan]="12">
                    <form dForm ngForm [layout]="layoutDirection">
                      <div class="modal-body" style="padding: 0px 0px 0px 0px">
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">jobmanager.memory.process.size:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="jobmanager.memory.process.size" />
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">jobmanager.memory.flink.size:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="jobmanager.memory.flink.size" />
                          </d-form-control>
                        </d-form-item>
                      </div>
                    </form>
                  </d-col>
                  <d-col [dSpan]="12">
                    <form dForm ngForm [layout]="layoutDirection">
                      <div class="modal-body" style="padding: 0px 0px 0px 0px">
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">taskmanager.memory.process.size:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="taskmanager.memory.process.size" />
                          </d-form-control>
                        </d-form-item>
                        <d-form-item>
                          <d-form-label style="flex: 0 0 180px;">taskmanager.memory.flink.size:</d-form-label>
                          <d-form-control>
                            <input dTextInput name="taskmanager.memory.flink.size" />
                          </d-form-control>
                        </d-form-item>
                      </div>
                    </form>
                  </d-col>
                </d-row>
              </d-panel-body>
            </d-panel>
          </div>
        </div>
      </d-col>
    </d-row>

    <d-row [dGutter]="[12, 12]">
      <d-col [dSpan]="24">
        <div class="da-list-container">
          <div class="list-content">
            <d-panel [type]="'primary'" #logPanel [isCollapsed]="isLogCollapsed" [showAnimation]="true">
              <d-panel-header>
                <em class="icon icon-select-arrow" [ngClass]="{ open: logPanel.isCollapsed }"></em>
                Log
              </d-panel-header>
              <d-panel-body>
                <d-row [dGutter]="[12, 12]">
                  <d-col [dSpan]="24">
                    <div class="da-list-container">
                      <div class="list-content">
                        <d-row [dSpace]="15" [dAlign]="'center'" [dSpaceDirection]="'horizontal'">
                          <d-col>
                            <div class="da-header-item-label">state.savepoints.dir:</div>
                          </d-col>
                          <d-col>
                            <input dTextInput name="state.savepoints.dir"/>
                          </d-col>
                        </d-row>
                      </div>
                    </div>
                  </d-col>
                </d-row>
              </d-panel-body>
            </d-panel>
          </div>
        </div>
      </d-col>
    </d-row>

    <d-row [dGutter]="[12, 12]">
      <d-col [dSpan]="24">
        <div class="da-list-container">
          <div class="list-content">
            <d-panel [type]="'primary'" #additionalPanel [isCollapsed]="isAdditionalCollapsed" [showAnimation]="true">
              <d-panel-header>
                <em class="icon icon-select-arrow" [ngClass]="{ open: additionalPanel.isCollapsed }"></em>
                Additional Configuration
              </d-panel-header>
              <d-panel-body>
                <d-row [dGutter]="[12, 12]">
                  <d-col [dSpan]="24">
                    <div class="da-list-container">
                      <div class="list-content">
                        <d-row [dSpace]="15" [dAlign]="'center'" [dSpaceDirection]="'horizontal'">
                          <d-col>
                            <div class="da-header-item-label">state.savepoints.dir:</div>
                          </d-col>
                          <d-col>
                            <input dTextInput name="state.savepoints.dir"/>
                          </d-col>
                        </d-row>
                      </div>
                    </div>
                  </d-col>
                </d-row>
              </d-panel-body>
            </d-panel>
          </div>
        </div>
      </d-col>
    </d-row>



  </div>
</div>
