<ul>
  <li class="da-settings-item">
    <div>
      <div>{{ 'userCenter.userPassword' | translate }}</div>
      <div class="da-settings-item-content">
        <span>{{ 'userCenter.password.desc' | translate }}</span>
      </div>
    </div>
    <div class="da-settings-item-operation">
      <a (click)="openEditPasswordDialog()">{{ 'userCenter.editPassword' | translate }}</a>
    </div>
  </li>
  <li class="da-settings-item">
    <div>
      <div>{{ 'userCenter.bindEmail' | translate }}</div>
      <div class="da-settings-item-content">
        <span>{{ userInfo?.userStatus?.label }}</span>
        <span *ngIf="userInfo?.userStatus?.value == '11'">&nbsp;&nbsp; {{ userInfo?.email }}</span>
      </div>
    </div>
    <div class="da-settings-item-operation">
      <a (click)="openBindEmailDialog()">{{ 'userCenter.bind' | translate }}</a>
    </div>
  </li>
</ul>
