@import '~ng-devui/styles-var/devui-var.scss';
@import '../styles/list';

.da-content-banner {
  background-color: $devui-base-bg;
  padding: 16px 20px;
  font-size: $devui-font-size-lg;

  &-title {
    margin: 12px 0 16px;
    font-size: $devui-font-size-modal-title;
    font-weight: $devui-font-title-weight;
  }
}

.da-content-wrapper {
  padding: 6px;
}

.da-content-title {
  font-size: $devui-font-size-page-title;
  padding: 16px;
  border-bottom: 1px solid $devui-dividing-line;
}

.da-content-card {
  overflow: hidden;
  background-color: $devui-base-bg;
  border-radius: $devui-border-radius-card;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
}

:host ::ng-deep .devui-tag-item {
  &.epic {
    color: $devui-light-text;
    background-color: $devui-danger;
  }

  &.High {
    color: $devui-light-text;
    background-color: $devui-danger-line;
  }

  &.Low {
    color: $devui-light-text;
    background-color: $devui-warning-line;
  }

  &.Medium {
    color: $devui-light-text;
    background-color: $devui-form-control-line;
  }
}

:host::ng-deep d-breadcrumb {
  d-breadcrumb-item {

    a,
    span {
      font-size: $devui-font-size-lg !important;
    }

    &:last-child {
      span {
        color: $devui-text;
      }
    }
  }
}


.modal-header {
  line-height: 30px;
  padding: 12px 24px;
  font-size: $devui-font-size-modal-title;
  font-weight: bold;
}

.da-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}