@import '~ng-devui/styles-var/devui-var.scss';

:host {
  display: block;
  height: 100vh;
  background-color: #f6fafe;
}

.da-register {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 8%;
  background-size: auto 100%;

  .da-language-wrapper {
    position: absolute;
    top: 22px;
    right: 28px;
    outline: none;
    cursor: pointer;
    padding: 0 12px;

    svg path {
      fill: $devui-text;
    }
  }

  .da-register-form {
    width: 460px;
    font-size: $devui-font-size-card-title;
    padding: 0 24px;

    .da-register-logo-wrapper {
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;

      .da-register-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        .da-logo-devui {
          img {
            width: 60px;
            height: 60px;
          }
        }

        .da-text {
          color: $devui-dark-text;
          font-size: 36px;
          margin-left: 16px;
          font-weight: 600;
        }
      }

      .da-coperation {
        text-align: center;
        color: $devui-aide-text;
        font-size: $devui-font-size-card-title;
        margin-top: 8px;
        margin-bottom: -8px;
      }
    }

    .da-register-wrapper {
      input {
        font-size: $devui-font-size-card-title;
        height: 32px;
        background-color: transparent;
        transition: all 0.2s ease-in-out;

        &.devui-error:hover {
          border-color: $devui-danger-line;
        }

        &.devui-error:focus {
          box-shadow: none;
        }

        &:hover {
          border-color: $devui-brand;
        }

        &:focus {
          box-shadow: 0 0 2px 2px $devui-float-block-shadow;
        }
      }
    }

    .da-submit-button {
      width: 100%;
      height: 40px;
      color: $devui-light-text;
      background-color: $devui-brand;
      border-radius: $devui-border-radius-feedback;
      padding-top: 4px;
      padding-bottom: 4px;
      margin-top: 12px;
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: $devui-brand-hover;
      }
    }

    .da-other {
      height: 20px;
      margin-top: 20px;
      float: right;
    }
  }

  da-footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 24px 0;
  }
}
