<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.breeze.dao.mapper.master.meta.MetaSystemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="MetaSystemMap" type="cn.sliew.breeze.dao.entity.master.meta.MetaSystem">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="editor" property="editor" />
        <result column="update_time" property="updateTime" />
        <result column="system_code" property="systemCode" />
        <result column="system_name" property="systemName" />
        <result column="contacts" property="contacts" />
        <result column="contacts_phone" property="contactsPhone" />
        <result column="remark" property="remark" />
    </resultMap>

</mapper>
