<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.sakura.CatalogFunctionMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sliew.scaleph.dao.entity.sakura.CatalogFunction">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="database_id" property="databaseId"/>
        <result column="name" property="name"/>
        <result column="class_name" property="className"/>
        <result column="function_language" property="functionLanguage"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,creator,create_time,editor,update_time,
        database_id, `name`, class_name, function_language, remark
    </sql>

    <select id="selectByDatabase" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM catalog_function f
        JOIN catalog_database d ON f.database_id = d.id
        WHERE d.catalog_name = #{catalog}
        AND d.`name` = #{database}
        ORDER BY f.`name`, f.create_time
    </select>

    <select id="countByDatabase" resultType="int">
        SELECT COUNT(*)
        FROM catalog_function f
                 JOIN catalog_database d ON f.database_id = d.id
        WHERE d.catalog_name = #{catalog}
          AND d.`name` = #{database}
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM catalog_function f
        JOIN catalog_database d ON f.database_id = d.id
        WHERE d.catalog_name = #{catalog}
        AND d.`name` = #{database}
        AND f.`name` = #{name}
    </select>

    <delete id="deleteByName">
        DELETE
        FROM catalog_function
        WHERE id = (SELECT ct.id
                    FROM (SELECT f.id
                          FROM catalog_function f
                                   JOIN catalog_database d ON f.database_id = d.id
                          WHERE d.catalog_name = #{catalog}
                            AND d.`name` = #{database}
                            AND f.`name` = #{name}) AS ct)
    </delete>

</mapper>
