<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scalegh.dao.mapper.master.di.DiDirectoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="DiDirectoryMap" type="cn.sliew.scalegh.dao.entity.master.di.DiDirectory">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="project_id" property="projectId"/>
        <result column="directory_name" property="directoryName"/>
        <result column="pid" property="pid"/>
    </resultMap>

    <select id="selectFullPath" resultMap="DiDirectoryMap">
        <![CDATA[
        with recursive dirs as (
            select
                id,
                project_id,
                directory_name,
                pid
            from di_directory
        ]]>
        <where>
            id in
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
        <![CDATA[
            union all
            select
                d.id,
                d.project_id,
                d.directory_name,
                d.pid
            from di_directory d,dirs s
            where d.id = s.pid
        )
        select * from dirs
        ]]>
    </select>
</mapper>
