<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.meta.MetaDataMapMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="MetaDataMapMap" type="cn.sliew.scaleph.dao.entity.master.meta.MetaDataMap">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="src_data_set_type_id" property="srcDataSetTypeId"/>
        <result column="src_data_set_type_code" property="srcDataSetTypeCode"/>
        <result column="src_data_set_type_name" property="srcDataSetTypeName"/>
        <result column="src_data_set_id" property="srcDataSetId"/>
        <result column="src_data_set_code" property="srcDataSetCode"/>
        <result column="src_data_set_value" property="srcDataSetValue"/>
        <result column="tgt_data_set_type_id" property="tgtDataSetTypeId"/>
        <result column="tgt_data_set_type_code" property="tgtDataSetTypeCode"/>
        <result column="tgt_data_set_type_name" property="tgtDataSetTypeName"/>
        <result column="tgt_data_set_id" property="tgtDataSetId"/>
        <result column="tgt_data_set_code" property="tgtDataSetCode"/>
        <result column="tgt_data_set_value" property="tgtDataSetValue"/>
        <result column="remark" property="remark"/>
    </resultMap>


    <select id="selectPage" resultMap="MetaDataMapMap">
        <![CDATA[
        select
            *
        from
        (
            select
                t.id as id,
                st1.id as src_data_set_type_id,
                lower(st1.data_set_type_code) as src_data_set_type_code,
                st1.data_set_type_name as src_data_set_type_name,
                s1.id as src_data_set_id,
                s1.data_set_code as src_data_set_code,
                s1.data_set_value as src_data_set_value,
                st2.id as tgt_data_set_type_id,
                st2.data_set_type_code as tgt_data_set_type_code,
                st2.data_set_type_name as tgt_data_set_type_name,
                s2.id as tgt_data_set_id,
                s2.data_set_code as tgt_data_set_code,
                s2.data_set_value as tgt_data_set_value,
                t.remark as remark,
                t.creator as creator,
                t.create_time as create_time,
                t.editor as editor,
                t.update_time as update_time
            from meta_data_map t
            join meta_data_set s1
            on t.src_data_set_id = s1.id
            join meta_data_set_type st1
            on s1.data_set_type_id = st1.id
            join meta_data_set s2
            on t.tgt_data_set_id = s2.id
            join meta_data_set_type st2
            on s2.data_set_type_id = st2.id
            union
            select
                null as id,
                st1.id as src_data_set_type_id,
                lower(st1.data_set_type_code) as src_data_set_type_code,
                st1.data_set_type_name as src_data_set_type_name,
                null as src_data_set_id,
                s1.data_set_code as src_data_set_code,
                s1.data_set_value as src_data_set_value,
                st1.id as tgt_data_set_type_id,
                st1.data_set_type_code as tgt_data_set_type_code,
                st1.data_set_type_name as tgt_data_set_type_name,
                null as tgt_data_set_id,
                s1.data_set_code as tgt_data_set_code,
                s1.data_set_value as tgt_data_set_value,
                '' as remark,
                s1.creator as creator,
                s1.create_time as create_time,
                s1.editor as editor,
                s1.update_time as update_time
            from meta_data_set s1
            join meta_data_set_type st1
            on s1.data_set_type_id = st1.id
            where not exists (select 1 from meta_data_map t1 where t1.src_data_set_id = s1.id)
            and s1.is_standard = '1'
        ) tt
        ]]>
        <where>
            <if test="srcDataSetTypeCode != null and srcDataSetTypeCode != ''">
                tt.src_data_set_type_code like concat('%',#{srcDataSetTypeCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="tgtDataSetTypeCode != null and tgtDataSetTypeCode != ''">
                and tt.tgt_data_set_type_code like concat('%',#{tgtDataSetTypeCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="srcDataSetCode != null and srcDataSetCode != ''">
                and tt.src_data_set_code like concat('%',#{srcDataSetCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="tgtDataSetCode != null and tgtDataSetCode != ''">
                and tt.tgt_data_set_code like concat('%',#{tgtDataSetCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="!auto">
                and tt.id is not null
            </if>
        </where>
    </select>

</mapper>
