<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.security.SecResourceWebMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sliew.scaleph.dao.entity.master.security.SecResourceWeb">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="type" property="type"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="menu_name" property="menuName"/>
        <result column="path" property="path"/>
        <result column="redirect" property="redirect"/>
        <result column="layout" property="layout"/>
        <result column="icon" property="icon"/>
        <result column="component" property="component"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap id="SecResourceWebVOMap" type="cn.sliew.scaleph.dao.entity.master.security.SecResourceWebVO"
               extends="BaseResultMap">
        <result column="role_id" property="roleId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        create_time,
        editor,
        update_time,
        `type`, pid, `name`, `menu_name`, `path`, redirect, layout, icon, `component`, remark
    </sql>

    <select id="listByPidAndUserId" resultMap="BaseResultMap">
        SELECT
        t1.*
        FROM
        sec_resource_web t1
        JOIN sec_resource_web_role t2 ON t1.id = t2.resource_web_id
        JOIN sec_role t3 ON t2.role_id = t3.id AND t3.`status` = '1'
        JOIN sec_user_role t4 ON t3.id = t4.role_id
        WHERE
        t1.pid = #{pid}
        AND t4.user_id = #{userId}
        <if test="name != null and name != ''">
            AND t1.`name` like CONCAT('%', #{name}, '%')
        </if>
        <if test="layout != null">
            AND t1.`layout` = #{layout}
        </if>
    </select>
</mapper>
