<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.security.SecRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="SecRoleMap" type="cn.sliew.scaleph.dao.entity.master.security.SecRole">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
        <result column="role_type" property="roleType"/>
        <result column="role_status" property="roleStatus"/>
        <result column="role_desc" property="roleDesc"/>
    </resultMap>

    <resultMap id="RoleWithPrivilegeMap" type="cn.sliew.scaleph.dao.entity.master.security.SecRole">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
        <result column="role_type" property="roleType"/>
        <result column="role_status" property="roleStatus"/>
        <result column="role_desc" property="roleDesc"/>
        <collection property="privileges" ofType="cn.sliew.scaleph.dao.entity.master.security.SecPrivilege">
            <id column="privilege_id" jdbcType="BIGINT" property="id"/>
            <result column="privilege_code" jdbcType="VARCHAR" property="privilegeCode"/>
            <result column="privilege_name" jdbcType="VARCHAR" property="privilegeName"/>
            <result column="resource_type" jdbcType="VARCHAR" property="resourceType"/>
            <result column="resource_path" jdbcType="VARCHAR" property="resourcePath"/>
        </collection>
    </resultMap>

    <select id="selectRoleByDept" resultMap="SecRoleMap">
        select
        r.id,
        r.role_code,
        r.role_name,
        r.role_type,
        r.role_status,
        r.role_desc,
        r.creator,
        r.create_time,
        r.editor,
        r.update_time
        from sec_role r
        <where>
            <choose>
                <when test="grant !=null and grant != '' ">
                    and exists (select 1 from sec_dept_role dr where r.id = dr.role_id and dr.dept_id =
                    #{deptId,jdbcType=BIGINT} )
                </when>
                <otherwise>
                    and not exists (select 1 from sec_dept_role dr where r.id = dr.role_id and dr.dept_id =
                    #{deptId,jdbcType=BIGINT})
                </otherwise>
            </choose>
        </where>


    </select>
</mapper>
