<ul id="logContent">
  <li *ngFor="let item of logItems" class="da-settings-item">
    <div>
      <div>{{ item.loginType.label }}&nbsp;&nbsp; {{ item.loginTime | dRelativeTime: limit | async }}</div>
      <div class="da-settings-item-content">
        <span>
          {{ 'userCenter.ipAddress' | translate }}{{ ':' + item.ipAddress }}&nbsp;&nbsp; {{ 'userCenter.clientInfo' | translate
          }}{{ ':' + item.clientInfo }}&nbsp;&nbsp;{{ 'userCenter.os' | translate }}{{ ':' + item.browserInfo }}&nbsp;&nbsp;{{
            'userCenter.browser' | translate
          }}{{ ':' + item.browserInfo }}</span
        >
      </div>
    </div>
  </li>
</ul>
<d-pagination
  style="padding-top: 18px"
  size=""
  [total]="logPager.total"
  [(pageSize)]="logPager.pageSize"
  [(pageIndex)]="logPager.pageIndex"
  [canViewTotal]="true"
  [canChangePageSize]="true"
  [canJumpPage]="true"
  [maxItems]="5"
  (pageIndexChange)="refreshLogItems()"
  (pageSizeChange)="refreshLogItems()"
>
</d-pagination>
