@import '~ng-devui/styles-var/devui-var.scss';

.da-footer {
  margin-top: -24px;

  .da-footer-intro {
    display: flex;
    align-items: center;
    justify-content: center;

    .da-friendly-link {
      a {
        color: $devui-text-weak;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $devui-text;
        }
      }
    }

    .da-homepage-active {
      outline: none;
    }

    a {
      display: flex;
      align-items: center;

      svg {
        fill: $devui-text-weak;

        margin: 0 20px;
        transition: fill 0.2s ease-in-out;

        &:hover {
          fill: $devui-text;
        }
      }
    }
  }

  .da-presented {
    text-align: center;
    color: $devui-text-weak;
    padding-top: 12px;
  }
}
