<form dForm ngForm [layout]="formLayout" [dValidateRules]="formConfig.rule" #form="dValidateRules" (dSubmit)="submitForm($event)">
  <d-form-item class="form-control-width">
    <d-form-label [required]="true">{{ 'admin.seatunnelHome' | translate }}</d-form-label>
    <d-form-control>
      <input dTextInput name="seatunnelHome" [(ngModel)]="formData.seatunnelHome" [dValidateRules]="formConfig.seatunnelHomeRules" />
    </d-form-control>
  </d-form-item>

  <d-form-operation>
    <d-button bsStyle="primary" dFormSubmit>{{ 'app.common.operate.confirm.label' | translate }}</d-button>
  </d-form-operation>
</form>
