.node-box {
  border-width: 2px;
  border-color: #5e7ce0;
  border-radius: 5px;
  border-left-width: 8px;
  border-left-color: #5e7ce0;
  border-left-style: solid;
  font-size: 14px;
  display: inline-grid;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 180px;
  height: 32px;
  background-color: #fff;
  box-shadow: 4px 4px 6px 2px rgb(0 0 0 / 20%);
}
