<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scaleph.dao.mapper.master.system.SysDictTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="DictTypeMap" type="cn.sliew.scaleph.dao.entity.master.system.SysDictType">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="dict_type_code" property="dictTypeCode"/>
        <result column="dict_type_name" property="dictTypeName"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <select id="selectByDictTypeCode" resultMap="DictTypeMap">
        select
        id,
        dict_type_code,
        dict_type_name,
        remark,
        creator,
        create_time,
        editor,
        update_time
        from sys_dict_type
        where dict_type_code = #{dictTypeCode,jdbcType=VARCHAR}
    </select>
</mapper>
