<d-layout [dGutter]="[0, 0]">
  <d-col [dSpan]="24" [dFlex]="24">
    <div class="da-abnormal">
      <d-col [dGutter]="[0, 0]" [dAlign]="'center'">
        <d-row>
          <div class="da-abnormal-img">
            <img src="assets/img/abnormal/500{{ darkMode }}.png" alt="" />
          </div>
        </d-row>
        <d-row class="center-display">
          <div class="da-abnormal-title">500</div>
        </d-row>
        <d-row class="center-display">
          <div class="da-abnormal-description">
            {{ 'abnormal.500.description' | translate }}
          </div>
        </d-row>
        <d-row class="center-display">
          <div class="da-abnormal-button">
            <a href="/">
              <d-button>{{ 'abnormal.backHome' | translate }}</d-button>
            </a>
          </div>
        </d-row>
      </d-col>
    </div>
  </d-col>
</d-layout>
