<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.scalegh.dao.mapper.master.system.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="DictMap" type="cn.sliew.scalegh.dao.entity.master.system.Dict">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="dict_type_code" property="dictTypeCode"/>
        <result column="dict_code" property="dictCode"/>
        <result column="dict_value" property="dictValue"/>
        <result column="remark" property="remark"/>
        <result column="is_valid" property="isValid"/>
        <association property="dictType" javaType="cn.sliew.scalegh.dao.entity.master.system.DictType" column="dict_type_code"
                     select="cn.sliew.scalegh.dao.mapper.master.system.DictTypeMapper.selectByDictTypeCode">
            <id column="dict_type_code" jdbcType="VARCHAR" property="dictTypeCode"/>
            <result column="dict_type_name" jdbcType="VARCHAR" property="dictTypeName"/>
        </association>
    </resultMap>

</mapper>
