@import '~ng-devui/styles-var/devui-var.scss';

da-layout-header {
  display: flex;
}

da-layout-sidebar {
  display: flex;
  flex-direction: column;

  & > da-side-menu,
  & > da-navbar {
    flex: 1 1 0%;
    overflow: hidden auto;
  }

  & > da-navbar {
    margin-top: 10px;
  }

  & > da-header-logo {
    display: inline-block;
  }

  .da-sidebar-tools {
    border-top: 1px solid $devui-dividing-line;

    .da-sidebar-tools-list {
      display: flex;
      justify-content: flex-end;
    }

    .da-sidebar-tools-item {
      width: 54px;
      height: 48px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        color: $devui-brand;
      }
    }
  }
}

.da-multi-settings {
  position: fixed;
  right: 0;
  top: 400px;
  width: 40px;
  height: 40px;
  background-color: $devui-brand;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  color: $devui-light-text;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: $devui-brand-hover;
  }
}

d-content {
  padding: 40px;
  width: calc(100% - 240px);
  background-color: $devui-global-bg;
}

.da-personalize-config {
  position: fixed;
  right: 20px;
  bottom: 26px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $devui-text;
  background-color: $devui-base-bg;
  box-shadow: $devui-shadow-length-feedback-overlay $devui-shadow;
  z-index: 10;
  font-size: $devui-font-size-page-title;

  &:hover {
    svg path {
      fill: $devui-brand;
    }
  }

  svg path {
    fill: $devui-text;
  }
}

:host::ng-deep {
  .devui-backtop {

    .devui-backtop-content {
      background-color: $devui-base-bg;
      color: $devui-text;
      box-shadow: $devui-shadow-length-feedback-overlay $devui-shadow;
      opacity: 1;

      svg {
        width: $devui-font-size-page-title;
        height: $devui-font-size-page-title;

        path {
          fill: $devui-text;
        }
      }

      &:hover {
        svg path {
          fill: $devui-brand;
        }
      }
    }
  }
}

.da-no-logo .da-header-collapsed-button {
  margin-left: 16px;
}

.da-header-collapsed-button {
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}
