<div class="da-list-wrap">
    <div class="da-content-wrapper">
      <d-row [dGutter]="[12, 12]">
        <d-col [dSpan]="24">
          <div class="da-list-container">
            <div class="da-list-header">
              <div class="da-header-left">
                <d-row [dSpace]="15" [dAlign]="'center'" [dSpaceDirection]="'horizontal'">
                  <d-col>
                    <div class="da-header-item-label">{{ 'flink.deploy-config.configType' | translate }}:</div>
                  </d-col>
                  <d-col>
                    <div class="da-header-item-label">{{ flinkDeployConfig?.configType?.label}}</div>
                  </d-col>
                  <d-col>
                    <div class="da-header-item-label">{{ 'flink.deploy-config.name_' | translate }}:</div>
                  </d-col>
                  <d-col>
                    <div class="da-header-item-label">{{ flinkDeployConfig?.name}}</div>
                  </d-col>
                </d-row>
              </div>
            </div>
          </div>
        </d-col>
      </d-row>

      <d-row [dGutter]="[12, 12]">
        <d-col [dSpan]="24">
          <div class="da-list-container">
            <div class="da-list-header">
              <div class="header-left"></div>
              <div class="header-right">
                <d-button-group>
                  <d-button
                    *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.datadevProjectAdd)"
                    bsStyle="primary"
                    (btnClick)="refreshTable()"
                  >{{ 'app.common.operate.refresh.label' | translate }}</d-button>
                  <d-button
                    *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.datadevProjectAdd)"
                    bsStyle="common"
                    (btnClick)="openUploadDeployConfigFileDialog()"
                    >{{ 'flink.deploy-config-file.upload' | translate }}</d-button>
                </d-button-group>
              </div>
            </div>
            <div class="list-content" id="dataTableContent">
              <d-data-table
                #dataTable
                [dataSource]="dataTableDs"
                [resizeable]="true"
                [checkable]="true"
                [tableLayout]="'fixed'"
                [scrollable]="true"
                [fixHeader]="true"
                (rowCheckChange)="getDataTableCheckedStatus()"
                (checkAllChange)="getDataTableCheckedStatus()"
              >
                <d-column field="name" header="{{ 'flink.deploy-config-file.name' | translate }}">
                  <d-cell>
                    <ng-template let-cellItem="cellItem">{{ cellItem }}</ng-template>
                  </d-cell>
                </d-column>
                <d-column field="len" header="{{ 'flink.deploy-config-file.len' | translate }}">
                  <d-cell>
                    <ng-template let-cellItem="cellItem">{{ cellItem }} B</ng-template>
                  </d-cell>
                </d-column>
                <d-column field="modificationTime" header="{{ 'flink.deploy-config-file.modificationTime' | translate }}">
                  <d-cell>
                    <ng-template let-cellItem="cellItem">{{ cellItem | date: 'yyyy-MM-dd HH:mm:ss' }}</ng-template>
                  </d-cell>
                </d-column>
                <d-column field="actions" header="{{ 'app.common.operate.label' | translate }}">
                  <d-cell>
                    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                      <div class="btn-group over-flow-ellipsis">
                        <d-button
                          *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.datadevProjectEdit)"
                          icon="icon-download"
                          bsStyle="text-dark"
                          (btnClick)="downloadDeployConfigFile(rowItem)"
                          title="{{ 'app.common.operate.download.label' | translate }}"
                        ></d-button>
                        <d-button
                          *ngIf="authService.hasPrivilege(PRIVILEGE_CODE.datadevProjectDelete)"
                          icon="icon-delete"
                          bsStyle="text-dark"
                          (btnClick)="openDeleteDeployConfigFileDialog([rowItem])"
                          title="{{ 'app.common.operate.delete.label' | translate }}"
                        ></d-button>
                      </div>
                    </ng-template>
                  </d-cell>
                </d-column>
                <ng-template #noResultTemplateRef>
                  <div style="text-align: center; margin-top: 20px">{{ 'app.common.noRecord' | translate }}</div>
                </ng-template>
              </d-data-table>
            </div>
          </div>
        </d-col>
      </d-row>
    </div>
  </div>
