@import "~ng-devui/styles-var/devui-var.scss";
@import "/src/app/@shared/styles/common.scss";

.da-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .da-header-right {
    margin-bottom: 12px;
  }
}

.list-group {
  padding: 10px 0px 10px 0px;
}

.list-group>li {
  height: 30px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: $devui-text;
}

.list-group>li:hover {
  background-color: $devui-list-item-hover-bg;
  cursor: pointer;
}

.list-group .list-group-item {
  padding: 0 16px;
}

.li-disable {
  color: $devui-disabled-text;
}

d-card {
  background-color: $devui-base-bg;
}

.d-card-header {
  border-bottom: 1px solid $devui-dividing-line;
}

.op-icons {
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
  color: #575d6c;
  font-size: $devui-font-size-icon;
}

.selected {
  background-color: $devui-list-item-selected-bg
}
