@import "~ng-devui/styles-var/devui-var.scss";

.da-abnormal {
  padding: 48px 32px;
  background-color: $devui-base-bg;

  &-img {
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-title,
  &-description,
  &-button {
    text-align: center;
  }

  &-title {
    text-align: center;
    margin-top: 16px;
    font-size: $devui-font-size-data-overview;
    font-weight: $devui-font-title-weight;
  }

  &-description {
    margin-bottom: 24px;
    color: $devui-aide-text;
    font-size: $devui-font-size-lg;
  }

  .da-forbidden-img {
    height: 350px;
  }
}

.center-display {
  display: contents
}
