<form dForm ngForm [layout]="formLayout" [dValidateRules]="formConfig.rule" #form="dValidateRules" (dSubmit)="submitForm($event)">
  <d-form-item class="form-control-width">
    <d-form-label [required]="true">{{ 'admin.emailHost' | translate }}</d-form-label>
    <d-form-control>
      <input dTextInput name="host" [(ngModel)]="formData.host" [dValidateRules]="formConfig.hostRules" />
    </d-form-control>
  </d-form-item>

  <d-form-item class="form-control-width">
    <d-form-label [required]="true">{{ 'admin.emailPort' | translate }}</d-form-label>
    <d-form-control>
      <input dTextInput name="port" [(ngModel)]="formData.port" [dValidateRules]="formConfig.portRules" />
    </d-form-control>
  </d-form-item>

  <d-form-item class="form-control-width">
    <d-form-label [required]="true">{{ 'admin.emailSender' | translate }}</d-form-label>
    <d-form-control>
      <input dTextInput name="email" [(ngModel)]="formData.email" [dValidateRules]="formConfig.emailRules" />
    </d-form-control>
  </d-form-item>

  <d-form-item class="form-control-width">
    <d-form-label [required]="true">{{ 'admin.emailPassword' | translate }}</d-form-label>
    <d-form-control>
      <input dTextInput name="password" type="password" [(ngModel)]="formData.password" [dValidateRules]="formConfig.passwordRules" />
    </d-form-control>
  </d-form-item>

  <d-form-operation>
    <d-button bsStyle="primary" dFormSubmit>{{ 'app.common.operate.confirm.label' | translate }}</d-button>
  </d-form-operation>
</form>
