<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.breeze.dao.mapper.DiJobAttrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="DiJobAttrMap" type="cn.sliew.breeze.dao.entity.DiJobAttr">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="job_id" property="jobId"/>
        <result column="job_attr_type" property="jobAttrType"/>
        <result column="job_attr_key" property="jobAttrKey"/>
        <result column="job_attr_value" property="jobAttrValue"/>
    </resultMap>

    <delete id="deleteByProjectId">
        delete t from di_job_attr t
        <where>
            exists (select 1 from di_job j
            <where>
                t.job_id = j.id
                and j.project_id in
                <foreach collection="projectIds" item="projectId" index="index" open="(" close=")" separator=",">
                    #{projectId,jdbcType=BIGINT}
                </foreach>
            </where>
            )
        </where>
    </delete>

    <delete id="deleteByJobId">
        delete from di_job_attr where job_id in
        <foreach collection="jobIds" item="id" index="index" open="(" close=")" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>

</mapper>
