@import "~ng-devui/styles-var/devui-var.scss";
@import "/src/app/@shared/styles/common.scss";

.table-title {
    font-size: $devui-font-size-card-title;
    font-weight: $devui-font-title-weight;
  }
  