@import '~ng-devui/styles-var/devui-var.scss';

.da-personalize-config {
  padding: 0 12px;

  .da-personalize-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    .da-title {
      transform: translateY(-12px);
      font-size: $devui-font-size-data-overview;
      font-weight: 500;
    }

    .da-sub-title {
      font-size: $devui-font-size-page-title;
    }
  }

  .item {
    color: $devui-text;
    text-align: center;
    background-color: $devui-base-bg;
    box-shadow: $devui-shadow-length-base $devui-shadow;
    border-radius: $devui-border-radius;
    padding: 24px 16px 20px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    height: 100%;

    &:last-child {
      margin-right: 0;
    }

    d-radio {
      text-align: left;
      margin-left: 16px;
      margin-bottom: 6px;
      width: 100%;
    }

    .da-item-title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-size: $devui-font-size-price;

      .icon-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        border-radius: $devui-border-radius-card;
        background-color: $devui-primary;
        color: $devui-light-text;
      }

      .da-item-title-text {
        margin-top: 12px;
        font-size: $devui-font-size;
        font-weight: 500;
      }
    }

    d-radio-group {
      margin-top: 24px;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 12px 0;
      border-bottom: 1px solid $devui-line;
    }
  }

  .da-inline {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
  }
}

.da-color-picker {
  display: flex;
  width: 100%;
}

.da-theme-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $devui-text;
  font-size: $devui-font-size-page-title;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 24px;

  .icon {
    font-size: $devui-font-size-data-overview;
  }
}

.da-theme-colors {
  .da-color-avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: $devui-border-radius;
    cursor: pointer;
    margin-left: 12px;
    transition: box-shadow 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      box-shadow: $devui-shadow-length-hover $devui-light-shadow;
      // transform: translateY(-4px);
    }

    &:first-child {
      margin-left: 0;
    }

    .icon-right {
      position: absolute;
      font-size: $devui-font-size-card-title;
      color: $devui-light-text;
    }
  }
}

:host::ng-deep {
  .devui-radio-material {
    width: $devui-font-size-icon !important;
    height: $devui-font-size-icon !important;
  }
}

@media only screen and (max-width: 1023px) {
  .da-personalize-content {
    ul {
      margin-right: 0 !important;
    }
  }

  .da-color-picker {
    display: block;
    margin-bottom: 12px;

    .da-theme-name {
      margin-top: 12px;
    }
  }

  .da-theme-colors {
    justify-content: space-between;

    .da-color-avatar {
      margin-left: 0;
    }
  }
}
