<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.breeze.dao.mapper.master.system.UserActiveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="UserActiveMap" type="cn.sliew.breeze.dao.entity.master.system.UserActive">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="user_name" property="userName"/>
        <result column="active_code" property="activeCode"/>
        <result column="expiry_time" property="expiryTime"/>
        <result column="active_time" property="activeTime"/>
    </resultMap>

</mapper>
