@import './custom-theme.scss';

html,
body {
  height: 100%;
}

body {
  background-color: $devui-base-bg;
}

.devui-dropdown-menu {
  .devui-dropdown-item {
    font-size: $devui-font-size;
    color: $devui-text;

    .icon {
      font-size: $devui-font-size;
      margin-right: 8px;
    }

    .da-language-prefix {
      margin-right: 8px;
    }
  }

  .da-active-lang .devui-dropdown-item {
    color: $devui-list-item-active-text !important;
    background-color: $devui-list-item-active-bg !important;
  }
}

.da-notice-modal {
  width: 320px;
  max-height: 380px;
}

@media only screen and (max-width: 1023px) {
  .modal-dialog {
    max-width: 85% !important;
  }
}

@media only screen and (max-width: 450px) {
  .da-notice-modal {
    left: 40px !important;
  }
}

@media only screen and (max-width: 395px) {
  .da-notice-modal {
    left: 60px !important;
  }
}

// 覆盖样式 规避devui datatable的样式BUG
.devui-data-table {
  .devui-table {
    tbody>tr {
      height: 60px;
    }
  }
}
