@import '~ng-devui/styles-var/devui-var.scss';
@import '/src/app/@shared/styles/common.scss';

textarea {
  height: 120px;
}

d-card {
  background: $devui-default-bg;
  cursor: pointer;
  transition: box-shadow $devui-animation-duration-slow $devui-animation-ease-in-out-smooth,
    transform $devui-animation-duration-slow $devui-animation-ease-in-out-smooth;

  &:hover {
    box-shadow: $devui-shadow-length-hover $devui-light-shadow;
    background: $devui-list-item-active-hover-bg;
    transform: translateY(-5px);
  }
}

.indicator-card-content {
  text-align: center;
  font-size: $devui-font-size-card-title;
  font-weight: bold;
  color: $devui-brand;
}
