@import "~ng-devui/styles-var/devui-var.scss";
@import "/src/app/@shared/styles/common.scss";

.table-title {
  font-size: $devui-font-size-card-title;
  font-weight: $devui-font-title-weight;
}

.op-icons {
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
  color: #575d6c;
  font-size: $devui-font-size-icon;
}

.inline-input {
  display: inline-block;
  position: relative;
}

d-radio {
  padding-bottom: 6px;
}
