<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyu.breeze.dao.mapper.DataSourceMetaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="DataSourceMetaMap" type="com.liyu.breeze.dao.entity.DataSourceMeta">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="datasource_name" property="datasourceName"/>
        <result column="datasource_type" property="datasourceType"/>
        <result column="connection_type" property="connectionType"/>
        <result column="host_name" property="hostName"/>
        <result column="database_name" property="databaseName"/>
        <result column="port" property="port"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="remark" property="remark"/>
        <result column="props" property="props"/>
    </resultMap>

</mapper>
