<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyu.breeze.dao.mapper.DiProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="DiProjectMap" type="com.liyu.breeze.dao.entity.DiProject">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="editor" property="editor" />
        <result column="update_time" property="updateTime" />
        <result column="project_code" property="projectCode" />
        <result column="project_name" property="projectName" />
        <result column="remark" property="remark" />
    </resultMap>

</mapper>
