<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyu.breeze.dao.mapper.RolePrivilegeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="RolePrivilegeMap" type="com.liyu.breeze.dao.entity.RolePrivilege">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="update_time" property="updateTime"/>
        <result column="role_id" property="roleId"/>
        <result column="privilege_id" property="privilegeId"/>
    </resultMap>

    <select id="selectByRoleId" resultMap="RolePrivilegeMap">
        select rp.id,
        rp.role_id,
        rp.privilege_id,
        rp.creator,
        rp.create_time,
        rp.editor,
        rp.update_time
        from t_role_privilege rp
        join t_privilege p
        on rp.privilege_id = p.id
        <where>
            <if test="roleId != null">
                and rp.role_id = #{roleId,jdbcType=BIGINT}
            </if>
            <if test="resourceType != null and resourceType != ''">
                and p.resource_type = #{resourceType,jdbcType=VARCHAR}
            </if>
        </where>

    </select>
</mapper>
