<form
  dForm
  ngForm
  [layout]="formLayout"
  [formGroup]="formGroup"
  [dValidateRules]="formConfig.rule"
  #form="dValidateRules"
  (ngSubmit)="submitForm()"
>
  <d-row [dGutter]="[24, 12]">
    <d-col [dSpan]="24">
      <d-form-item>
        <d-form-label [required]="true">{{ 'datadev.step.stepTitle' | translate }}</d-form-label>
        <d-form-control>
          <input dTextInput name="stepTitle" formControlName="stepTitle" [dValidateRules]="formConfig.stepTitleRules" />
        </d-form-control>
      </d-form-item>
    </d-col>
  </d-row>
  <d-row [dGutter]="[24, 12]">
    <d-col [dSpan]="24">
      <d-form-item>
        <d-form-label [required]="true">{{ 'datadev.step.sink-kafka.producerBootstrapServers' | translate }}</d-form-label>
        <d-form-control>
          <d-select
            [options]="dataSourceList"
            name="producer_bootstrap_servers"
            [isSearch]="true"
            [allowClear]="true"
            formControlName="producer_bootstrap_servers"
            [filterKey]="'label'"
            [dValidateRules]="formConfig.producerBootstrapServersRules"
            [extraConfig]="{ selectedItemWithTemplate: { enable: true } }"
          >
            <ng-template let-option="option"> {{ option['label'] }} </ng-template>
          </d-select>
        </d-form-control>
      </d-form-item>
    </d-col>
  </d-row>
  <d-row [dGutter]="[24, 12]">
    <d-col [dSpan]="24">
      <d-form-item>
        <d-form-label [required]="true">{{ 'datadev.step.sink-kafka.topic' | translate }}</d-form-label>
        <d-form-control>
          <input dTextInput name="topics" formControlName="topics" [dValidateRules]="formConfig.topicsRules" />
        </d-form-control>
      </d-form-item>
    </d-col>
  </d-row>

  <d-row [dGutter]="[24, 12]">
    <d-col [dSpan]="24">
      <d-form-item>
        <d-form-label
          >{{ 'datadev.step.sink-kafka.producerConf' | translate }}
          <a [href]="'https://kafka.apache.org/documentation/#producerconfigs'" target="_blank">
            <d-icon
              [icon]="'icon-infomation'"
              dTooltip
              content="{{ 'datadev.step.sink-kafka.producerConf.tooltip' | translate }}"
              [position]="'bottom'"
            ></d-icon>
          </a>
        </d-form-label>
        <d-form-control>
          <textarea dTextarea resize="vertical" name="producer_conf" formControlName="producer_conf"> </textarea>
        </d-form-control>
      </d-form-item>
    </d-col>
  </d-row>
  <d-row [dGutter]="[24, 12]">
    <d-col [dSpan]="24">
      <d-form-item>
        <d-form-label>{{ 'datadev.step.sink-kafka.semantic' | translate }} </d-form-label>
        <d-form-control>
          <d-select
            [options]="semanticList"
            name="semantic"
            [isSearch]="false"
            [allowClear]="true"
            formControlName="semantic"
            [filterKey]="'label'"
            [dValidateRules]="formConfig.dataSourceRules"
            [extraConfig]="{ selectedItemWithTemplate: { enable: true } }"
          >
            <ng-template let-option="option"> {{ option['label'] }} </ng-template>
          </d-select>
        </d-form-control>
      </d-form-item>
    </d-col>
  </d-row>
</form>
