@import '~ng-devui/styles-var/devui-var.scss';
@import '/src/app/@shared/styles/common.scss';

.pane-content {
  padding: 0 12px;
}

.search-box {
  width: 100%;
  padding-top: 10px;
}

.toolbar {
  padding-top: 8px;
  padding-bottom: 2px;
  border-bottom: 1px #dfe1e6 solid;
}

.splitter-border {
  border: 1px solid $devui-dividing-line;
}

.container {
  padding: 0;
  display: flex;
}

.mainContainer {
  flex: 1;
  height: calc(100vh - 90px);
}

.menuContainer {
  display: none;
  z-index: 1;
  position: absolute;
  background-color: white;
}

.contextmenu-item {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100px;
  text-align: center;
}

.contextmenu-item:hover {
  background-color: $devui-list-item-hover-bg;
}

d-header {
  text-align: center;
  line-height: 40px;
  background-color: $devui-base-bg; // TODO: color not variable
  color: $devui-text;
}

d-tag {
  margin: 4px;
}

:host ::ng-deep .devui-tag-item.tag-custom {
  background-color: $devui-brand;
  color: $devui-light-text;
  box-sizing: border-box;
}

.drawer-header {
  border-bottom-width: 1px;
  border-bottom-style: ridge;
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  background-color: $devui-base-bg;
  z-index: 1200;
}

.drawer-body {
  margin-top: 56px;
  margin-bottom: 56px;
}

.drawer-footer {
  border-top-width: 1px;
  border-top-style: ridge;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $devui-base-bg;
  height: 56px;
  z-index: 1200;
}

textarea {
  height: 80px;
}
